# Виртуальное окружение
venv/

# Конфиденциальные файлы
# Игнорируем .env в папке backend
/backend/.env

# SQLite
db.sqlite3
*.sqlite3

# Миграции
# */migrations/*.py
# !*/migrations/__init__.py

# Кэш и временные файлы
__pycache__/
*.py[cod]
*$py.class
*.log
*.swp
*.bak
*.tmp

# Загруженные файлы
# media/
uploads/

# Статический контент
# staticfiles/

# IDE и редакторы
.vscode/
.idea/
*.iml

# Файлы зависимостей
*.egg-info/
.Python
pip-log.txt

# Собранные файлы
*.dll
*.so
*.dylib
*.exe
*.o
*.a

*.gitignore

# Node.js
node_modules/

# React


# Игнорируем dist в папке frontend
/frontend/dist/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Логи браузера
*.log

# Другие временные файлы
*.tgz
*.lock
